@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.App {
  text-align: center;
}

.title{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.button{
 width: 100%;
 height: 50px;
}

.container {
  padding: 0 420px 0 420px ;
}

.player {
  padding-top: 40px;
 
 
}

